In [1]:
import os
import sys
src = os.path.abspath(os.path.join('../'))
if src not in sys.path:
    sys.path.append(src)

In [2]:
import numpy as np
from custom_transformer import CustomTransformer
from data_reader import DataReader

In [3]:
reader = DataReader(rootdir='../../')

In [4]:
reader.read_data('housing.csv')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
id,,,,,,,,,,
122267.88,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
122257.86,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
122277.85,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
122287.85,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
122287.85,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
121129.48,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
121249.49,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
121259.43,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
121359.43,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
121279.37,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
cat_attribs = ['ocean_proximity']
target = 'median_house_value'
all_attribs = reader.df.columns

processor = CustomTransformer(target, all_attribs, cat_attribs)
processor.fit_transform(reader.train_df)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,people_per_household,bedrooms_per_room,x0_<1H OCEAN,x0_INLAND,x0_ISLAND,x0_NEAR BAY,x0_NEAR OCEAN
0,0.642275,-0.818308,-0.770123,0.056685,0.329491,0.545753,0.240168,-0.639314,0.031280,0.476228,1.0,0.0,0.0,0.0,0.0
1,0.901327,0.000030,-1.328429,-0.282424,-0.389953,-0.347220,-0.372111,0.025537,-0.018634,-0.441299,0.0,1.0,0.0,0.0,0.0
2,0.622348,-0.743488,0.825034,0.151034,0.654785,1.063152,0.769072,-0.707571,0.019103,0.921258,1.0,0.0,0.0,0.0,0.0
3,1.344705,-0.649964,-1.089155,0.813755,0.678529,-0.701783,-0.603996,0.047991,-0.066517,-0.421310,0.0,1.0,0.0,0.0,0.0
4,-0.129899,0.542471,-0.371334,0.397162,0.671406,0.590402,0.716964,-1.009680,-0.033660,0.306947,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,-1.230869,0.621966,1.223824,-0.610594,-0.634517,-0.681647,-0.624839,-0.333313,-0.052654,-0.087106,0.0,0.0,0.0,0.0,1.0
16508,0.303515,-0.673345,-1.009397,-0.376773,-0.451688,-0.732424,-0.528438,-0.997270,-0.096397,-0.337824,1.0,0.0,0.0,0.0,0.0
16509,-1.360395,0.888510,0.904792,-0.364923,-0.541915,-0.588848,-0.502384,1.116128,-0.055767,-0.696167,0.0,0.0,0.0,0.0,1.0
16510,0.547622,-0.635935,0.346487,-0.494367,-0.646389,-0.475038,-0.546676,0.664305,-0.004524,-0.659457,1.0,0.0,0.0,0.0,0.0
16511,1.235106,-1.342044,0.186971,-0.637486,-0.354337,-0.531943,-0.265288,-1.223076,-0.090161,1.524918,0.0,0.0,0.0,0.0,1.0

# Linear regression

In [6]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(processor.X, processor.Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
# score on training data
lin_reg.score(processor.X, processor.Y)

0.643266662422805

In [8]:
some_data = processor.X[0:5]
targets = processor.Y[0:5]
print(f'predictions: {lin_reg.predict(some_data)}')
print(f'targets: {targets}')

predictions: [162432. 111776. 177376. 156192.  88096.]
targets: [179700.0 101300.0 172700.0 182800.0 67000.0]

In [9]:
from sklearn.metrics import mean_squared_error

predictions = lin_reg.predict(processor.X)
smse = np.sqrt(mean_squared_error(processor.Y, predictions))
print(f'RMSE: {smse}')

RMSE: 68698.92733086272

# Decision Tree Regressor

In [10]:
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor()
tree_reg.fit(processor.X, processor.Y)

score = tree_reg.score(processor.X, processor.Y)
predictions = tree_reg.predict(processor.X)
smse = mean_squared_error(processor.Y, predictions)
print(f'On training set: RMSE: {smse}, score: {score}')

On training set: RMSE: 0.0, score: 1.0

# Better scoring with K-fold cross validation

## Linear regression

In [11]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(lin_reg, processor.X, processor.Y, scoring='neg_mean_squared_error', cv=10)
lin_req_scores = np.sqrt(-cv_scores)

def display_scores(score):
    print(f'Scores: {score}')
    print(f'Mean Scores: {score.mean()}')
    print(f'STD Scores: {score.std()}')
    
display_scores(lin_req_scores)

Scores: [66929.45666626 68164.26628478 66299.12630018 69183.44424811
 68533.38817308 68532.72974671 70548.09834583 68544.5967214
 74065.74207831 69633.58574065]
Mean Scores: 69043.4434305309
STD Scores: 2034.6582065163782

## Random Forest

In [12]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor()
rf_reg.fit(processor.X, processor.Y)
cv_scores = cross_val_score(rf_reg, processor.X, processor.Y, scoring='neg_mean_squared_error', cv=10)
rf_reg_scores = np.sqrt(-cv_scores)
display_scores(rf_reg_scores)

c:\users\tomas\sources\houses\.venv\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Scores: [51906.84877765 54067.40790388 51496.36922285 52900.57783332
 52374.92202067 54829.97234148 52980.04782127 51877.82246055
 55194.36761811 52467.48377518]
Mean Scores: 53009.58197749653
STD Scores: 1212.5277691628999

In [13]:
reader.train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 10 columns):
longitude             16512 non-null object
latitude              16512 non-null object
housing_median_age    16512 non-null object
total_rooms           16512 non-null object
total_bedrooms        16348 non-null object
population            16512 non-null object
households            16512 non-null object
median_income         16512 non-null object
median_house_value    16512 non-null object
ocean_proximity       16512 non-null object
dtypes: object(10)
memory usage: 645.1+ KB

In [14]:
reader.train_df[reader.train_df.total_bedrooms.isnull()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5,-122.65,38.25,23,4030,NaN,1852,778,3.402,193300,<1H OCEAN
28,-118.56,34.2,35,2273,NaN,1431,403,4.0789,196700,<1H OCEAN
87,-121.95,37.31,27,4140,NaN,2135,893,3.6292,264600,<1H OCEAN
127,-118.55,34.28,16,8879,NaN,3468,1200,8.1125,428600,<1H OCEAN
160,-119.32,36.25,21,1231,NaN,609,206,2.8365,90000,INLAND
...,...,...,...,...,...,...,...,...,...,...
16090,-122.1,37.69,41,746,NaN,387,161,3.9063,178400,NEAR BAY
16131,-118.59,34.2,21,1789,NaN,2300,677,2.754,179800,<1H OCEAN
16185,-124,40.92,29,1429,NaN,672,266,2.9485,98800,<1H OCEAN
16209,-117.34,33.94,13,7910,NaN,3382,1176,5.5563,214500,INLAND
16328,-118.28,34.25,29,2559,NaN,1886,769,2.6036,162100,<1H OCEAN

In [15]:
reader.train_df.iloc[5]

longitude               -122.65
latitude                  38.25
housing_median_age           23
total_rooms                4030
total_bedrooms              NaN
population                 1852
households                  778
median_income             3.402
median_house_value       193300
ocean_proximity       <1H OCEAN
Name: 5, dtype: object